.mainText {
  font-family: 'Rye', cursive;
  color: red;
  text-align: center;
  font-size: 7em;
  position: relative;
  top: 1.5em;
  z-index: 1;

}

.imgContainer {
  position: relative;
  bottom: 10em;
  width: 105em;
  height: 37em;
}

img {
  width: auto;
  height: 40em;
  opacity: .9;
}

.container {
  position: relative;
  bottom: 25em;
  width: 32em;
}


.button {
  padding-top: 1.45em;
  padding-bottom: 1em;
  padding-left: 0em;
}

.content {

}
