body {
    font-family: 'Slabo 27px', serif;
    background: linear-gradient(295deg, #512400, #FEF4BC);
    color: black;

}

.navbar {
  background: #D9D0A0;
}

a.navbar-brand.navText {
  color: black;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.mainText {
    font-family: 'Rye', cursive;
    text-align: center;
    font-size: 7em;
    position: relative;
    top: 1.5em;
    z-index: 1;
    color: red;
    text-shadow: .04em .04em black;
}

.tagLine {
    text-align: center;
    color: black;
    font-size: 3em;
    position: relative;
    top: 3.75em;
    z-index: 1;
}

.tagLineDiv {
  height: auto;
  width: 71em;
  position: relative;
  margin: auto;
}

.imgContainer {
    position: relative;
    bottom: 19em;
    width: 100%;
    height: 35em;
}

.heroImg {
  opacity: .75;
}
img {
    width: 100%;
    height: auto;
}

.searchBar {
    position: relative;
    bottom: 25em;
    width: 32em;
}

.button {
    padding-top: 1.45em;
    padding-bottom: 1em;
    padding-left: 0em;
}

.dealsRow {
  margin-top: -15em;
}

.card-img {
    width: 100%;
    height: 250px;
}

#cards {
    border-radius: 2px;
    padding: 10px 10px 0px 10px;
    position: relative;
    align-items: center;
    height: 60vh;
    margin-bottom: 3%;
    background: #fefefe;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#cards:hover {
  box-shadow: 0 15px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-block {
    padding-bottom: 20px;
    padding-left: 15px;
    padding-top: 7px;
}

#oneDeal {
  border-radius: 2px;
  padding: 10px 10px 0px 10px;
  position: relative;
  align-items: center;
  margin-bottom: 3%;
  background: #fefefe;
  box-shadow: 0 9px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/*.highlight {
    transition: 0.05s linear all;
}

.highlight.on-add {
    background: white;
}

.highlight.on {
    color: red;
    text-shadow: .02em .02em black;
}

.highlight.on-remove {
    color: black;
}*/

/*.heroImg{
  transition: 2s bounceOutUp all;
}*/

#mapid { height: 180px; }
