
<div class="container">
    <div class="row" id="oneDeal">
        <div class="card col-sm-4">
            <img class="card-img-top" ng-src="{{oneDeal.imgUrl}}" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">{{oneDeal.title}}</h4>
                <p class="card-text">{{oneDeal.description}}</p>
                <a href="#/"><button type="button" class="btn btn-info">Order Here</button></a>
            </div>
        </div>
    </div>
</div>

<div id='map'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiY291cnRuZXlzYW5kZXJzIiwiYSI6ImNpdm10ZmF5dzAwMGUydGs0bGNkeXU4eXIifQ.sOriWj2-8p2AX_FkDR-sfQ';
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v9', //stylesheet location
    center: [-74.50, 40], // starting position
    zoom: 9 // starting zoom
});
</script>
