<!-- <div ng-repeat="deal in deals" class="dealCard">
  <div class="panel panel-default">
    <div class="panel-body">
      <span>{{deal.logo}}</span><h3>{{deal.title}}</h3>

      <span ng-click="user.favorites" type="button" class="glyphicon glyphicon-heart" aria-hidden="true"></span>

      <hr>
      <p>{{deal.name}}</p>
      <p>
        distance from the user
      </p>
      <img src="{{deal.imgUrl}}" alt="Business Image" />

    </div>
  </div>
</div> -->


<!-- <div class="row">
  <div ng-repeat="deal in deals" class="card col-sm-3" id="cardImage">
  <img class="card-img-top" src="{{deal.imgUrl}}" alt="Card image cap" id="cardImage">
  <div class="card-block">
    <span ng-click="user.favorites" type="button" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    <h4 class="card-title">{{deal.title}}</h4>
    <p class="card-text">{{deal.description}}</p>
    {{deal.name}}
    <a href="/#/deals/{{deal.id}}" class="btn btn-primary">Get Deal</a>
  </div>
</div>
</div> -->



<!-- <div class="container">


<div class="row col-sm-12">


<div ng-repeat="deal in deals"class="card col-sm-3 view overlay hm-white-slight" id="cards">

    <div class="">
        <img src="{{deal.imgUrl}}" class="img-fluid card-img" alt="">
        <a href="#">
            <div class="mask"></div>
        </a>
        <span ng-click="user.favorites" type="button" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    </div>



    <div class="card-block">

        <h4 class="card-title">{{deal.title}}</h4>

        <p class="card-text">{{deal.description}}</p>
        <a href="/#/deals/{{deal.id}}" id="button" class="btn btn-primary">More Info</a>
    </div>

    </div>

</div>
</div> -->


<div class="container">
<div class="row">
<div ng-repeat="deal in deals" class="card col-sm-4" id="cards">
  <img class="card-img-top card-img" src="{{deal.imgUrl}}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{deal.title}}</h4>
    <p class="card-text">{{deal.description}}</p>
    <a href="/#/deals/{{deal.id}}" class="btn btn-primary">Get Deal</a>
  </div>
</div>
</div>
</div>
