
<h1 class="mainText">Coffee Shop Social</h1>
<div class="tagLineDiv">
  <p class="tagLine">Helping people and businesses find each other through great deals on cannabis</p>
</div>

<div class="imgContainer">

    <div class="heroImg">
        <img src="./images/CoffeeStand_3.jpg" />
    </div>
</div>

<div class="row">
    <div class="container searchBar">
        <form>
            <div class="col-sm-9">
                <div class="form-group">
                    <label for="search"></label>
                    <input ng-model="searchText" type="text" class="form-control" id="search" placeholder="Search">
                </div>
            </div>
            <div class="col-sm-3 button">
                <button ng-click="bool=!bool" type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>


<div class="container">
    <div class="row dealsRow">
        <div ng-repeat="deal in deals | filter: searchText" class="card col-xs-12 col-sm-6 col-md-4 col-lg-4" id="cards">
            <img class="card-img-top card-img" ng-src={{deal.imgUrl}} alt="Card image cap">
            <div class="card-block">

                <h4 class="card-title">{{deal.title}}</h4>
                <p class="card-text">{{deal.description}}</p>
                <p>
                    <span ng-click="mapid=!mapid" class="glyphicon glyphicon-map-marker" aria-hidden="true" id="mapIcon"></span>
                </p>

                <!-- <a href="/#/deals/{{deal.id}}" class="btn btn-primary">Get Deal</a> -->
                <a ng-leave href="/#/deals/{{deal.id}}"><button type="button" class="btn btn-info">Get Deal</button></a>
            </div>
        </div>
    </div>
</div>


<div ng-show="mapid" id="mapid"></div>

</div>
